<table class="highlight mb2">
  <thead>
  <tr>
    <th>№</th>
    <th>Date</th>
    <th>Time</th>
    <th>Total</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.order}}</td>
    <td>{{order.date | date:'dd.MM.yyyy'}}</td>
    <td>{{order.date | date:'HH:mm:ss'}}</td>
    <td>{{computePrice(order)}}</td>
    <td>
      <button (click)="openModal(order)" type="button" class="btn btn-small grey darken-1">
        <i class="material-icons">open_in_new</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<app-history-modals></app-history-modals>
