@import "materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";

.none {
  display: none;
}

.h200 {
  height: 200px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.grey-color {
  color: #b9b9b9;
}

.dark-text {
  color: #333333!important;
}

.background {
  background: linear-gradient(to top left, #D4F1F4, #ffc0cb69);
}

main, footer {
  margin-left: 0;
}

.nav-wrapper {
  padding-right: 20px;
}
