@import "materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";

.none {
  display: none;
}

.h200 {
  height: 200px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.grey-color {
  color: #b9b9b9;
}
