.bold {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.img {
  width: auto;
  max-width: 100%;
}

.container-how-it-works {
  padding: 50px 0
}
