<div class="container-how-it-works">
  <h4>This is an app for managing your cafe or restaurant. You can see the best result after a couple of days of use.
    If you don't want to wait long, you can use my already completed account
    <br>
    <span>Email: demo&#64;gmail.com</span>
    <br>
    <span>Password: domforbeautifulperson</span>
  </h4>
  <div class="first-step">
    <h5><span class="bold">1.</span>
      The first thing we have to do is to go to the page
      <span routerLink="/categories" class="bold pointer underline">CATEGORIES</span>
      There we create our category. It can be, for example, drinks or soups. Add also a photo as desired
    </h5>
    <div class="img__wrapper">
      <img class="img" src="assets/how-it-works/1.png" alt="how-it-works">
      <img class="img" src="assets/how-it-works/11.png" alt="how-it-works">
    </div>
  </div>
  <div class="second-step">
    <h5><span class="bold">2.</span> Then, on the same page, select your category. And add a couple of items to it so
      that you can place an
      order </h5>
    <div class="img__wrapper">
      <img class="img" src="assets/how-it-works/2.png" alt="how-it-works">
      <img class="img" src="assets/how-it-works/22.png" alt="how-it-works">
    </div>
    <h5>Enter the name and price for your item.</h5>
  </div>
  <div class="third-step">
    <h5><span class="bold">3.</span>After that, go to the page
      <span routerLink="/order" class="bold pointer underline">ADD ORDER</span>
      Select the categories you want
    </h5>
    <img class="img" src="assets/how-it-works/3.png" alt="how-it-works">
    <h5>Then select positions and quantities. Then select positions and quantities. Once you have selected all the desired items from the different categories, click COMPLETE</h5>
    <img class="img" src="assets/how-it-works/33.png" alt="how-it-works">
    <h5>Then you'll see a summary of what you ordered and how much you ordered and how much it totalled.</h5>
    <img class="img" src="assets/how-it-works/333.png" alt="how-it-works">
  </div>
  <div class="fourth-step">
    <h5><span class="bold">4.</span>You can look at the order history on the page
      <span routerLink="/history" class="bold pointer underline">HISTORY</span>
      Also after a couple of days of using the app you can see <span routerLink="/analytics" class="bold pointer underline">ANALYTICS</span> and <span routerLink="/overview" class="bold pointer underline">OVERVIEW</span>.</h5>
  </div>
</div>
