<nav>
  <div class="nav-header nav-wrapper grey darken-1">
    <div class="logo-text__wrapper">
      <img class="logo" alt="logo" src="../../../../assets/logo.svg">
      <a routerLink="/" class="logo-text brand-logo dark-text">Kuda Tan</a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a class="dark-text" routerLink="login">Log in</a>
      </li>
      <li routerLinkActive="active">
        <a class="dark-text" routerLink="register">Sign in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="background auth-block auth__wrapper">
  <router-outlet></router-outlet>
</div>
