<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Your order</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Single price</th>
        <th>All-in price</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of order.list">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.cost}}</td>
        <td>{{ item.cost * item.quantity }}</td>
        <td><i (click)="removePosition(item)" class="material-icons pointer">delete</i></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="order.list.length !== 0" class="order-summary">
      <p>Total <strong>{{order.price}}</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="cancel()" [disabled]="pending" type="button" class="modal-action waves-effect waves-black btn-flat">Close</button>
    <button (click)="submit()"  [disabled]="order.list.length === 0 || pending" type="submit" class="modal-action btn waves-effect">Confirm</button>
  </div>
</div>
